
body{
	background: url("maxresdefault.jpg") fixed center;
}

p{
	margin: 20px; 
	padding: 10px;
}
.content{
	text-align: center;
	border: 3px solid black;
	background-color: white; 
	margin: 0px 100px;
}